body {
  grid-template-columns: 1fr 2fr;
  background-color: aqua;
}
input {
  margin: 5px;
}
input[type="text"]:focus {
  background-color: rgb(85, 185, 189);
}
label {
  display: block;
  width: 100px;
}
#lap{
    display: grid;
    grid-template-columns:auto auto 1fr;
}
